
body {
    background-color: rgb(218, 255, 218);
}

.container{
  background-color: White;
  width: 400px;
  height: 400px;
  display: flex;
  box-shadow: 11px 10px 5px -8px rgba(0,0,0,0.75);
  
}
